server:
  port: 9090
spring:
  application:
    name: authentication-service
  datasource:
    continue-on-error: false
    hikari:
      connection-test-query: SELECT 1 FROM SYSIBM.SYSDUMMY1
      maximum-pool-size: 50
      minimum-idle: 10
      pool-name: AuthSvcHikariPool
    initialization-mode: embedded
    name: rlauthdb
    platform: derby
    schema:
      - classpath:auth-services-schema-derby.sql
    data:
      - classpath:auth-services-data-derby.sql
    url: jdbc:derby:memory:rlauthdb;create=true
    generate-unique-name: true
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        id:
          new_generator_mappings: false
        format_sql: true
    show-sql: false
    open-in-view: false

springfox:
  documentation:
    swagger-ui:
      base-url: /