management.metrics.tags.application: ${spring.application.name}
management.metrics.distribution.percentiles-histogram.http.server.requests: true
management.metrics.distribution.percentiles-histogram.resilience4j.circuitbreaker.calls: true
management.endpoint.health.show-details: always
management.health.diskspace.enabled: false
management.endpoint.logfile.enabled: true

spring.kafka.bootstrap-servers: localhost:9092

management:
  endpoints:
    web:
      exposure:
        include: '*'

server:
  port: 8083
spring:
  application:
    name: transaction-processor
  datasource:
    continue-on-error: false
    hikari:
      connection-test-query: SELECT 1 FROM SYSIBM.SYSDUMMY1
      maximum-pool-size: 50
      minimum-idle: 10
      pool-name: TxnSvcHikariPool
    initialization-mode: embedded
    name: rltxndb
    platform: derby
    schema:
      - classpath:transaction-services-schema-derby.sql
    data:
      - classpath:transaction-services-data-derby.sql
    url: jdbc:derby:memory:rltxndb;create=true
    generate-unique-name: true
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        id:
          new_generator_mappings: false
        format_sql: true
    show-sql: false
    open-in-view: false
  boot:
    admin:
      client:
        auto-deregistration: true
        auto-registration: true
        enabled: true
        instance:
          metadata:
            tags:
              environment: localhost
          name: ${spring.application.name}
          prefer-ip: true
          service-base-url: http://localhost:8083
        url: http://localhost:9595

reloadly:
  notification:
    enabled: true
    suppress: false
    reloadly-notification-service-endpoint: http://localhost:8082
  api:
    transaction:
      processor:
        svc-account-api-key: d3fe6f0d-120e-4161-a134-8c2342e36ca6
        kafka:
          inbound-transactions-topic: com.reloadly.inbound.txn.topic
