# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: build

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package jacoco:report --file pom.xml

  coverage:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: mvn -B test jacoco:report-aggregate --no-transfer-progress
      - uses: codecov/codecov-action@v1
        with:
#          token: ${{ secrets.CODECOV_TOKEN_2 }}
          file: ./**/target/site/jacoco-aggregate/jacoco.xml
          name: codecov